<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">

        <head>
        <meta charset="UTF-8">
        <title>luv2code Systems Home Page</title>
</head>
<body>

<h2>luv2code Systems Home Page</h2>

<hr>

<p>
    See you in England! ... for our annual Admin retreat!! Yay!
    <br>
    Keep this trip a secret, don't tell the regular employees LOL :-)
</p>

<hr>

<a th:href="@{/}">Back to Home Page</a>
<hr>
</body>
</html></title>
</head>
<body>

</body>
</html>